:host {
    width: 33%;
    height: 100%;
    background-color: #b8d1fb;
}
h4 {
    text-align: center;
}

.elements ul{
    display: flex;
    flex-direction: column;
}

.elements ul li{   
    padding: 0 0.5rem;
    color: #4286f4;
    font-weight: bold;
    text-align: center;
}

.elements ul li img{
    width: 100%;    
    cursor: move;
    border-radius: 1em;
}

.elements ul li img:hover{
    border: black dashed 1px;
}