:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h4 {
    text-align: center;
}

.widget_container {
    flex: 1;
    background-color: #d9e6fd;
    margin: 2rem;
    border-radius: 1rem;
    border: black dashed 1.5px;
    transition: background-color 0.5s ease-out;
}

.widget_container:hover {
    background-color: #b8d1fb;
    border-width: 2px;
}

.empty {
    position: absolute;
    text-align: center;
    width: 10rem;
    top: 50%;
    left: calc(50% + 5rem);
    font-weight: bold;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .row {
    display: flex;
    margin-bottom: 1.5rem;
}

.modal .row input {
    margin-left: 1rem;
}